<h1><%= @setting_type.name %></h1>
<p><%= @setting_type.description %></p>

<%= form_tag setting_path(@setting_type), :method => :put do %>

<% @setting_type.setting_values.each do |setting_value| %>
<div class="field">
  <label class="radio">
    <%= radio_button_tag 'setting_value', setting_value.id, @checked_value == setting_value.id %>
    <%= setting_value.name %>
  </label>
</div>
<% end %>

<% if @user.present? %>
<%= hidden_field_tag :user_id, @user.id %>
<% end %>

<%= submit_tag "Submit" %>
<% end %>

<h1>Settings</h1>

<table class="table">
  <% @settings_list.each do |setting| %>
<tr>
  <td><h4><%= setting[:name] %></h4><%= setting[:description] %></td>
  <td><%= setting[:value_name] %> <%= raw '<em>(default)</em>' if setting[:value_choice] == 'default' %></td>
  <td>
    <!-- <%# put edit_params_helper here? %> -->
    <% if @user.present? %>
    <%= link_to "Edit", edit_setting_path(id: setting[:setting_type_id], user_id: @user.id) %>
    <% else %>
    <%= link_to "Edit", edit_setting_path(id: setting[:setting_type_id]) %>
    <% end %>
  </td>
</tr>
<% end %>
</table>
