<h1><%= @setting_type.name %></h1>
<p><%= @setting_type.description %></p>

<%= form_tag settings_path(@setting_type.id), :method => :put do %>

<% @setting_type.setting_values.each do |setting_value| %>
<div class="field">
  <label class="radio">
    <%#
    checkbox_is_checked = false    
    if @checked_value == setting_value.id
      checkbox_is_checked = true
    end
    %>
    <%= radio_button_tag 'setting_value', setting_value.id, @checked_value == setting_value.id %>
    <%= setting_value.name %>
  </label>
</div>
<% end %>

<% if @user.present? %>
<%= hidden_field_tag :user_id, @user.id %>
<% end %>

<%= submit_tag "Submit" %>
<% end %>